.root {
	-fx-background-color: white;
}

.container {
	-fx-background-image: url("../images/backgroundSpiaggiaApp_faded.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-alignment: center;
}

.containerLogin {
	-fx-background-image: url("../images/backgroundSpiaggiaApp_opacity70.jpg");
}

.containerPlain {
	-fx-background-color: #efe2d3;
}

.subsectionColor {
	-fx-background-color: #efdbc5;
	-fx-border-size: 1.0px;
	-fx-border-color: black;
	-fx-border-style: solid;
}

.title {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-font-family: 'Berlin Sans FB'; /* cambiare se non installato */
	-fx-font-size: 3.5em;
	-fx-padding: 0.0 0.0 20.0px 0.0;
}

Button {
	-fx-text-alignment: center;	
	-fx-font-family: 'Myriad Pro'; /* cambiare se non installato */
	-fx-font-size: 1.8em;
	-fx-font-weight: bold;
	-fx-padding: 10.0px;
	-fx-cursor: hand;
	-fx-background-insets: 1.0px;
	-fx-background-radius: 0.0;
}

.mainButton {
	-fx-font-size: 3.0em;
	-fx-background-color: #2e3192;
	-fx-text-fill: white;
	-fx-padding: 5.0px 30.0px;
	-fx-pref-width: 400.0px;
}

.mainButtonCentered {
	-fx-font-size: 3.0em;
	-fx-background-color: #2e3192;
	-fx-text-fill: white;
	-fx-padding: 10.0px 40.0px;
}

#mainButtonCenteredSmaller {
	-fx-font-size: 2.4em;
}

Button.logoutButton {
	-fx-background-color: #8bfbff;
	-fx-border-size: 1.0px;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-padding: 5.0px 10.0px;
}

Button.standardButton {
	-fx-background-color: #44df5a;
	-fx-font-family: 'Roboto Condensed'; /* cambiare se non installato */
	-fx-font-weight: normal;
	-fx-border-size: 1.0px;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-padding: 3.0px 10.0px;
}

Button#convenzioneButton {
	-fx-font-size: 1.2em;
	-fx-padding: 1.0px 10.0px;
}

Button#controlloDispButton {
	-fx-background-color: #2e3192;
	-fx-font-family: 'Roboto Condensed'; /* cambiare se non installato */
	-fx-font-size: 1.4em;
	-fx-font-weight: normal;
	-fx-text-fill: white;
	-fx-padding: 5.0px;
}

Button#cercaButton {
	-fx-background-color: #2e3192;
	-fx-text-fill: white;
	-fx-padding: 2.0px 20.0px;
}

.inputText {
	-fx-font-family: Calibri;
	-fx-font-size: 1.8em;
	/* -fx-background-radius: 0; per TextArea rettangolari non arrotondate*/
}

Label, ListView {
	-fx-font-family: 'Roboto Condensed'; /* cambiare se non installato */
	-fx-font-size: 1.8em;
	-fx-text-fill: black;
}

Label.sectionHeader {
	-fx-font-size: 1.4em;
	-fx-text-fill: blue;
}

ListView#right .list-cell {
	-fx-alignment: top-right;
}

GridPane.inputsGrid {
	-fx-hgap: 15.0px;
	-fx-vgap: 15.0px;
	-fx-alignment: top-left;
}

GridPane.inputsGridSmall {
	-fx-hgap: 10.0px;
	-fx-vgap: 10.0px;
	-fx-alignment: top-left;
}

.mappaOmbrelloni {
	-fx-background-image: url("../images/background_contrDisp.jpg");
	-fx-background-size: stretch;
	-fx-minWidth: 200.0px;
	-fx-minHeight: 100.0px;
	-fx-border-size: 1.0px;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-padding: 15.0px;
}

TableView {
    -fx-table-cell-border-color: #f2f2f2;
}

TableView .column-header {
	-fx-background-color: #0072bc;
}

TableView .column-header-background .label {
	-fx-text-fill: white;
	-fx-font-size: 1.4em;
	-fx-font-weight: normal;
}

TableView .table-cell {
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-size: 1.4em;
	-fx-font-weight: normal;
	-fx-padding: 1.0px 6.0px;
}

TableView .table-row-cell:last-row {
	-fx-font-size: 1.6em;
	-fx-font-weight: bold;
}

TableView .columnRight {
	-fx-alignment: center-right;
}

ImageView {
	-fx-cursor: hand;
}

.popupInfo {
	-fx-background-color: white;
	-fx-border-size: 1.0px;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-font-size: 0.8em;
}