.root {
	-fx-background-color: white;
}

.container {
	-fx-background-image: url("../images/backgroundSpiaggiaApp_faded.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-alignment: center;
}

.containerLogin {
	-fx-background-image: url("../images/backgroundSpiaggiaApp_opacity70.jpg");
}

.title {
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-font-family: 'Berlin Sans FB'; /* cambiare se non installato */
	-fx-font-size: 3.5em;
	-fx-padding: 0 0 20px 0;
}

.button {
	-fx-text-alignment: center;	
	-fx-font-family: 'Myriad Pro'; /* cambiare se non installato */
	-fx-font-size: 1.8em;
	-fx-font-weight: bold;
	-fx-padding: 10px;
	-fx-cursor: hand;
}

.mainButton {
	-fx-font-size: 3em;
	-fx-background-color: #2e3192;
	-fx-text-fill: white;
	-fx-padding: 5px 30px;
	-fx-pref-width: 400px;
}

VBox.marginTopForButton {
	-fx-pref-height: 20px;
}

.inputText {
	-fx-font: 1.8em Calibri;
}

Label {
	-fx-font-family: 'Roboto Condensed'; /* cambiare se non installato */
	-fx-font-size: 1.8em;
	-fx-text-fill: black;
}